* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}

.box {
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    border: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(243, 43, 8);
    background-color: bisque;
}

.reset-btn {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: slategray;
    color: white;
    border-radius: 1rem;
}

#new-btn {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: slategray;
    color: white;
    border-radius: 1rem;
}

#msg {
    color: wheat;
}

.hide {
    display: none;
}